.title {
  height: 56px;
}

.titleSection {
  padding-top: 120px;
  margin-bottom: 56px;
  display: flex;
}

.titlediv {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.loginsection {
  display: flex;
}

.movie {
  background: #092c39;
  width: 282px;
  height: 504px;
  border-radius: #092c39;
}

.movietitle {
  color: white;
  height: 56px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}

.publishingYear {
  color: white;
}

.card {
  background-color: #092c39;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 24px;
}

.card > img {
  object-fit: cover;
  border-radius: 12px;
}

.contentarea {
  color: white;
  text-transform: capitalize;
}

.contentarea .title {
  font-size: 20px;
  line-height: 32px;
}

.contentarea .imagetitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; 
}

.publishingyer {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination a {
  padding: 8px 12px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.pagination li a {
  background: #092c39;
  border-radius: 4px;
  color: #fff;
}

.pagination .active a {
  background-color: #2bd17e;
  border-radius: 4px;
  color: #fff;
}

.pagination li {
  color: #fff;
}

.pagination a:focus {
  outline: none;
}

// movie create page
.maintitle {
  margin-top: 30px;
  height: 56px;
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
}

.movieform {
  margin-top: 100px;
  display: flex;
}

.movieform .inputtitle {
  width: 362px;
  height: 45px;
  top: 296px;
  left: 720px;
  border-radius: 10px;
  background-color: #224957;
  border: none;
  margin-bottom: 56px;
  padding: 10px;
  color: #fff;
}

.movieform .inputtitle::placeholder {
  color: #ffffff;
}

.moviecreatetitle {
  color: #ffffff;
  margin-top: 100px;
}

.movieform .publishingyear {
  width: 216px;
  height: 45px;
  top: 296px;
  left: 720px;
  border-radius: 10px;
  background-color: #224957;
  border: none;
  margin-bottom: 50px;
  padding: 10px;
  color: #fff;
}

.movieform .publishingyear::placeholder {
  color: #ffffff;
}

.buttonsection {
  display: flex;
  justify-content: space-between;
}

.cancelbutton {
  width: 167px;
  height: 56px;
  top: 474px;
  left: 720px;
  padding: 16px, 55px, 16px, 55px;
  border-radius: 10px;
  border: 1px;
  gap: 5px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #224957;
}

.submitButton {
  width: 179px;
  height: 56px;
  top: 474px;
  left: 903px;
  padding: 16px, 59px, 16px, 59px;
  border-radius: 10px;
  gap: 5px;
  background: #2bd17e;
  color: #ffffff;
}
.file_uploading_block {
  max-width: 473px;
  width: 100%;
  height: 504px;
  border: 2px dashed #ffffff;
  border-radius: 10px;
  background-color: #224957;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
